/* default styling */
body {
    font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
    color: #333;
}

h5 {
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #6c757d;
    color: #fff;
    padding: 0.5rem 1.0rem;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
    font-size: 1.25rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.5;
}

.card-body {
    margin-top: .5rem;
}

.label {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
}

.label-blue {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.label-cyan {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
}

.label-green {
    color: #fff;
    background-image: None;
    background-color: #157347;
    border-color: #146c43;
}

.gradient-green {
    color: #fff !important;
    background-image: -webkit-linear-gradient(top, #447960 0%, #157347 100%) !important;
    background-image: -moz-linear-gradient(top, #447960 0%, #157347 100%) !important;
    background-image: -ms-linear-gradient(top, #447960 0%, #157347 100%) !important;
    background-image: -o-linear-gradient(top, #447960 0%, #157347 100%) !important;
    background-image: linear-gradient(to bottom, #447960 0%, #157347 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#447960", EndColorStr="#157347") !important;
    background-color: #157347 !important;
    border-color: #146c43 !important;
}

.label-red {
    color: #fff;
    background-image: None;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.gradient-red {
    color: #fff !important;
    background-image: -webkit-linear-gradient(top, #c9777f 0%, #bb2d3b 100%) !important;
    background-image: -moz-linear-gradient(top, #c9777f 0%, #bb2d3b 100%) !important;
    background-image: -ms-linear-gradient(top, #c9777f 0%, #bb2d3b 100%) !important;
    background-image: -o-linear-gradient(top, #c9777f 0%, #bb2d3b 100%) !important;
    background-image: linear-gradient(to bottom, #c9777f 0%, #bb2d3b 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#c9777f", EndColorStr="#bb2d3b") !important;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}

.label-orange {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.label-yellow {
    color: #000;
    background-color: #e3ff2c;
    border-color: #e3ff2c;
}

.btn {
    text-decoration: none;
    cursor: pointer;
}

.float-right {
    float: right;
    margin-left: 0.4rem;
}

table.dataTable tfoot th.dt-foot-right,
table.dataTable tfoot td.dt-foot-right {
    text-align:right;
}

.text-right input {
    text-align:right;
}

table.dataTable tfoot tr>.dtfc-fixed-left,
table.dataTable tfoot tr>.dtfc-fixed-right {
 z-index:1;
 background-color:white
}


table.dataTable {
	tr.dte-highlight {
		animation-duration: 4s;
	}
}

/* AutoFill and KeyTable */
/* div.DTE_Inline input {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 90%;
} */

/* AutoFill and KeyTable */
/* div.DTE_Inline input:focus {
    outline: none;
    background-color: transparent;
} */

/* History Divider */
/* #topDiv {
	width: 100%;
	height: 28vh;
}

#bottomDiv {
	width: 100%;
	height: 48vh;
}

#divider {
	width: 100%;
	cursor: row-resize;
	height: 8px;
	background-color: #d02020;
} */
